{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% include "Layout/navbar.html.twig" %}
    <img class="computer" src="{{ asset('/build/images/dev.0d39b871.png') }}">
<div class="example-wrapper">
    <h1>MICHAEL WALENCIAK</h1>

    <H2>Votre FUTUR développeur</H2>


</div>


<div class="presentation example-wrapper">

<h3>Qui suis-je ?</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
 nunc eget lorem dolor sed viverra ipsum. Vitae tempus quam pellentesque nec nam aliquam sem. Eget mauris pharetra et ultrices. 
 Sit amet nulla facilisi morbi tempus iaculis urna. Malesuada nunc vel risus commodo viverra. 
 Sed viverra tellus in hac habitasse platea. Convallis convallis tellus id interdum velit. Ipsum consequat nisl vel pretium lectus quam id leo. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Duis convallis convallis tellus id interdum. Maecenas pharetra convallis posuere morbi leo urna molestie. Habitasse platea dictumst vestibulum rhoncus est pellentesque. Mi quis hendrerit dolor magna eget. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Fames ac turpis egestas integer eget aliquet. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Praesent elementum facilisis leo vel fringilla est. Mi ipsum faucibus vitae aliquet nec ullamcorper.</p>

</div>

<div class="langages example-wrapper">

<h3>Mes langages</h3>


<article  >
<img class="lang" src="{{ asset('/build/images/html55.e11e389d.png') }}">
<img class="css" src="{{ asset('/build/images/css33.cd13bf0a.png') }}">
</article>


</div>


<div class="projets example-wrapper"</div>
{% endblock %}