*
{
    font-family: system-ui, -apple-system;
}

body{
    background-color: rgb(0, 6, 63);
}

h1{
    color: rgb(255, 255, 255);
}

h1 :hover
{
    text-decoration: overline;
    color: aqua;
}

h2
{
    color: white;
}

h3
{
    color:white;
    

}

p {

    color: white;
}